* {
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 2fr 10fr 0.5fr;
}
.header {
    grid-area: 1/1/2/4;
    border: 1px solid black;
    background-color:#d97706;
    display: flex;
    align-items: center;
    justify-content: center;
}
.empty .one{
    grid-area: 2/1/3/2;

}
.library {
    grid-area: 2/2/3/3;
    border: 1px solid black;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;

}
.controls {
    grid-area: 1/1/2/2;
    box-sizing: border-box;
    border: 1px solid yellow;
}
.books {
    box-sizing: border-box;
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 100px);
}
.book {
    border: 1px solid purple;
}
.empty .two {
    grid-area: 2/3/3/4;

}
.footer {
    grid-area: 3/1/4/4;
    background-color: black;
    color: white;
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: smaller;
    padding: 1em;
}